<div class="paypal">
  <form action="/auction">
    <div class="paypal__header">
      <div class="paypal_closed">
        <span class="closed-button">x</span>
      </div>
      <div class="paypal__logo-wrapper">
        <img src="https://i.ibb.co/DrvmW5y/paypal.png" alt="Paypal" class="paypal__logo">
      </div>

      <div class="paypal__header-info">
        <span class="paypal__ref name">Iphone XS Max</span>
        <span class="paypal__ref price">1350$</span>
        <span class="paypal__date times"></span>
      </div>
    </div>

    <img src="./uploads/1_undefined.jpg" class="paypal__subheader-wrapper" alt="You select product">

    <div class="paypal__cart">
      <ul class="paypal__cart-list">
        <li class="paypal__cart-item">
          <span class="paypal__cart-total">Bid Price:</span>
          <input type="text" name="" value="" placeholder="" class="paypal__item-price">
        </li>
      </ul>
    </div>
  </form>
  <div class="paypal__footer">
    <img src="https://i.ibb.co/c8CQvBq/barcode.png" alt="Paypal Barcode" class="paypal__barcode">
  </div>
</div>