<!DOCTYPE html>
<html>
<head>
  <title>Creative Colorlib SignUp Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <link href="../stylesheets/users/register.css" rel="stylesheet" type="text/css" media="all" />
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <!-- main -->
  <div class="main-w3layouts wrapper">
    <h1>Create A Account SignUp Form</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="/signup" method="POST">
          <input class="text" type="text" name="username" placeholder="Username" required="">
          <input class="text email" type="email" name="email" placeholder="Email" required="">
          <input class="text" id="password" type="password" name="password" placeholder="Password" required="">
          <input class="text w3lpass" id="confirm_password" type="password" name="password" placeholder="Confirm Password" required="">
          <div class="wthree-text">
            <label class="anim">
              <input type="checkbox" class="checkbox" required="">
              <span>I Agree To The Terms & Conditions</span>
            </label>
            <div class="clear"> </div>
          </div>
          <input type="submit" value="SIGNUP">
        </form>
        <p>Don't have an Account? <a href="/users/login"> Login Now!</a></p>
      </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
      <p>© <%- new Date().getFullYear() %> Colorlib Signup Form. All rights reserved | Design by <a href="/" target="_blank">Phuong Tran</a></p>
    </div>
  </div>
  <!-- //main -->

  <script type="text/javascript">
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
</body>
</html>